/* Will be compiled down to a single stylesheet with your sass files */

body {
    background-color: #dddddd;
    padding: 0;
    margin: 0;
}
ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}
.container {
    width: 4999px;
    min-height: 4999px;
    position: relative;
}
.header {
    height: 100px;
}
.logo {
    position: absolute;
    width: 50px;
    height: 50px;
    border: 1px solid red;
    top: 20px;
    left: 20px;
    cursor: pointer;
}
.logo:hover {
    background-color: green;
}


.signs {

}


.friends li {


}




/*
.friends li:hover {
    box-shadow: 0 0 50px #fff;
    z-index: 9999;
    -webkit-transform:scale(1.2) rotate(5deg);
    -moz-transform:scale(1.2) rotate(5deg);
    -o-transform:scale(1.2) rotate(5deg);
    -ms-transform:scale(1.2) rotate(5deg);
    transform:scale(1.2) rotate(5deg);



}
*/
.friends li.current {
    -webkit-transform:rotate(5eg);
    -moz-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg);

    -webkit-transition: all .07s ease-in;
    -moz-transition: all .07s ease-in;
    -o-transition: all .07s ease-in;
    -ms-transition: all .07s ease-in;
    transition: all .07s ease-in;

    border-radius: 5px;
    box-shadow: 0 0 30px #999;
    width:300px;
    height: 300px;
    padding: 110px 10px 10px;
}

.friend_logo {
    background-position: 0 0;
    background-repeat: no-repeat;
    cursor: pointer;
    position: absolute;
    border: none;
    box-shadow: none;
    width: 100px;
    height: 100px;
    border-radius: 0px;
    top: 10px;
    left: 10px;

}
.current h2 {
    position: absolute;
    top: 0;
    left: 120px;
    font-size: 18px;
}
.current h3 {
    position: absolute;
    top: 20px;
    left: 120px;
    font-size: 18px;
}
.current p {
    font-size: 12px;;
}


.center {
    /*background: url("https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc6/195606_564619674_2547268_s.jpg") no-repeat scroll center center black;*/
    border: 10px solid white;
    border-radius: 110px 110px 110px 110px;
    box-shadow: 0 2px 10px #333333;
    height: 110px;
    left: 2958px;
    padding: 5px;
    position: absolute;
    top: 2954px;
    width: 110px;
}

.circle {
    position: absolute;
    border: 2px solid white;
    box-shadow: 0 0 10px #666;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: white;

    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    -ms-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}

.circle span {

}


.unassigned .circle {
    position: static;
}
