<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title></title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="styles/main.css"/>
    <link rel="stylesheet" href="styles/astro/Unassigned.css"/>

</head>
<body>

<div class="container">

    <div id="unassigned">
        <ul></ul>
    </div>

    <ul id="unassigned"></ul>

    <div class="content">

        <ul class="friends"></ul>

        <div class="center"></div>

    </div>

</div>

<script type="text/mustache" id="circle">
    <li>
        <a class="circle" style="top: {{y}}px; left: {{x}}px; /*background-image:url('{{picture}}')*/" href="#">
            <span>{{name}}</span>
        </a>
    </li>
</script>


<script type="text/mustache" id="unassigned-view">

</script>

<script type="text/mustache" id="panel">
    <li>
        <a class="panel" style="/* background-image:url('{{picture}}') */" href="#">
            <span>{{name}}</span>
        </a>
    </li>
</script>


<script type="text/javascript" src="scripts/vendor/jquery.2.0.1.js"></script>
<script type="text/javascript" src="scripts/vendor/jquery.scrollto.js"></script>
<script type="text/javascript" src="scripts/vendor/can.jquery.js"></script>
<script type="text/javascript" src="scripts/vendor/can.view.mustache.js"></script>
<script type="text/javascript">
    var astro = (typeof window.astro !== 'undefined') ? window.astro : {};
</script>
<script type="text/javascript" src="scripts/astro/Zodiac.js"></script>
<script type="text/javascript" src="scripts/astro/Circle.js"></script>
<script type="text/javascript" src="scripts/astro/Unassigned.js"></script>
<script type="text/javascript" src="scripts/astro/util/Facebook.js"></script>
<script type="text/javascript" src="scripts/data.js"></script>
<script type="text/javascript" src="scripts/main.js"></script>

</body>
</html>
