/* Unassigned Friends Control */

#unassigned {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background: white;
    z-index: 9999;
    overflow-y: scroll;
    overflow-x: hidden;
}

#unassigned li {
    display: block;
    padding: 10px;
}

.panel {

}

